body {
  background-image: url("https://lh3.googleusercontent.com/y0lqGGw-Xn9hZpmK8ZHtERebAXL7ymUD5R3RL3fnmE1sJhL8eVc8bE48y981f7Cp7iLonPvrhJSH4wxJbO4PR9r30LjtlTilsmmwg6iqEwQ-St-jN-tZqN7nYMfj5d8J6hQDuLRghXB8-8SlvmWRF_HvI1qZrGAqOCUAPMn1foIQImP9l5QVZvaLeRowQQj_6QRFLjiqhA8N3BBlH2X0fZtdzPyN-SmQ02vIj24Wd9EmAc_Q__n8vobNy8bcAK621Pp9LMzUr1-154uKOv87713TfsYnvTkfKucQqPQYmBqzgGivr-VOq8xi_SlhNNmHlzmtWPQ6edGNh82eQOay_sQ77IVT6uzEfqrZ8dAo_5xt2bFwuF-NRgfP4RMvOIP1CRRbcKQXlYQ5HijhtSatpHLuxigkY6C8TQ7NawlO4bNuVtnK7S0EjAg_5s1hH5YX7Is6RJXFCl0XAJnQ4qN0ibaSdpwSNKQBKLZQ2ZM8IzV2d_h6mVFpP6T2Ij_YLn1cLO6gnnCoGDZ8Jjijiu-y1D_syMZufwNJHoFb2z8GYuA-NrqOCeI_exj6RjZaFFfVwTItA5UCBuS2WNMoJXSD9Dq23wn73b1x6hT6G606avKs4ZbekO9jr8hc2h6gaQCwJiW2aLEMXsVZAnsuZ4pBtfwbAOJcZrFQOwS9ZJAjrZP07wBpCuQVKG8uQiaQ7Jof-ZcPRPifCdb_Cn36UQNvmxY6OPgY_cxI-NeXrqf12XHhB2XfqV8lOCoU91Y=w650-h789-no?authuser=0");
  background-repeat: no-repeat;
 background-position: right top;
 background-attachment: fixed;

}

body {
  background-color: gold;
}

p {
  background-color: gold;
}
